@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.5em;
}

header, .normal {
    padding: 20px;
}

.flex-content {
    padding: 20px;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    gap: 20px;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

.media-text .text, .text-media .text{
    flex: 1 1 500px;
}

.media-text .media, .text-media .media {
    flex: 1 1 500px;
}

.media img, .media iframe {
    display: block;
    margin: auto;
}