@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
}

header {
    background-color: gray;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;

    a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        background-color: black;
        text-align: center;
        border-radius: 10px;
        transition: .2s;

        &:hover {
            background-color:white;
            color: black;
        }
    }
}

main {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #00000022;
}