@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer {
        display: none;
    }

    nav {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    nav > ul > li > a {
        border-top: none;
    }
}

@media print {
    header > nav {
        display: none !important;
    }

    header h1 {
        color: black;
    }

    span#burguer {
        display: none;
    }

    body {
        font-family: 'Courier New', Courier, monospace;
    }
}