@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(115, 192, 195);
}

header {
    background-color: rgb(58, 95, 96);
    color: white;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(41, 67, 68);
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: teal;
    color: white;
    border-top: 2px solid cadetblue;
}

nav a:hover {
    background-color: cadetblue;
}

main {
    max-width: 600px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

article > h2, article p{
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
}