* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    background: black url('imgs/espaco.jpg') center top no-repeat;
    background-size: cover;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}